<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyDepression.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyDepression.Properties.Settings>
            <setting name="TFATEmailCol" serializeAs="String">
                <value>Email</value>
            </setting>
            <setting name="TFATTrgCol" serializeAs="String">
                <value>Course Name</value>
            </setting>
            <setting name="TFATDateCol" serializeAs="String">
                <value>Date Completed</value>
            </setting>
            <setting name="TFATFNameCol" serializeAs="String">
                <value>First Name</value>
            </setting>
            <setting name="TFATLNameCol" serializeAs="String">
                <value>Last Name</value>
            </setting>
            <setting name="TFATRankCol" serializeAs="String">
                <value>Rank</value>
            </setting>
        </MyDepression.Properties.Settings>
    </userSettings>
</configuration>